#team-container{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: fit-content;
    margin: 60px auto;
}

.team-member-name{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}

.team-member-name p {
    margin: 0
}
.team-member img{
    padding: 0;
    margin: 0;
    width: 250px;
    height: 250px;
}

.team-member{
    margin: 10px;
}